node_modules
.next
.turbo
dist
.DS_Store
*.log
.env
.env.local
.env.*.local
apps/web/.env
apps/web/.env.local
storage
uploads
*.tsbuildinfo
.prisma
apps/web/src/generated
packages/db/generated
packages/db/src/generated
.idea
.vscode/*
!.vscode/extensions.json
docker-data
